.main{
    display: flex;
    height: 100%;
}
.container{
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    
    
}

.header{
    position: sticky;
    z-index: 1000;
    top: 0px;
    left: auto;
    right: 0px;
    min-height: 64px;
    
}

.content{
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    transition: padding 0.25s ease-in-out 0s;
    padding: 1%;
}