.table-list{
    display: flex;
    flex-direction: column ;
    background-color: white;
    border-radius: 10px;
}

.group-name{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-weight: bold;
        margin-bottom: 0 !important;
    }
}

.button{
    padding: 10px;
    button{
        float: right;
    }
}