.main{
    height: 600px;
    width: 100%;
    content: "a";
    display: flex;
    justify-content: center;
    align-items: center;
} 

.main .box-login{
    height: 45%;
    width: 30%;
    background: rgba(255, 255, 255, 0.562);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.589);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-login{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 15px;
}
.form-login{
    align-items: center;
    justify-content: center;
}
.form-login input{
    width: 350px;
    height: 40px;
}
